<!DOCTYPE html>
<html lang="en">
    <script src="index.js"></script>
  </head>
  <body>
    <h1>Welcome!</h1>
    
    <form id="delete">
      <input value="Delete profile" type="submit" />
    </form>
    <form id="logoutUser">
      <input value="Logout" type="submit" />
    </form>
    <br>
    <script src="opretVarer.js"></script>
    <form id="form">
      <input placeholder="Varekategori" id="varekategori" />
      <input placeholder="Produkt" id="produkt" />
      <input placeholder="Pris" id="pris" />
      <input value="Opret en vare" type="submit" />
    </form>
 </body> 
 <body>
        <script src="allProducts.js" async defer></script>   
        <button id='klik'>Klik for at se alle dine varer til salg</button>
        <table id="vareListe"></table>
      </body>

      <body>
        <label id="form">Username:</label> <br>
        <input type="username" name="username" id="newuserName" placeholder="Write new username">
    
        <br><label>Password:</label> <br>
        <input type="pawword" name="password" id="newPassword" placeholder="Write new password">
    
        <br>
        <button id="update" value="Submit" type="submit" onclick="updateUser()" class="profile-btn">Update profile</button> 

        <script src="updateUser.js"></script>
    </body>

</html>


