<!DOCTYPE html>
<html lang="en">
    <script src="index.js"></script>
  </head>
  <body>
    <h1>Welcome!</h1>
    <br>
    <div class="container">
      <button id="getUserCredentials">Click to see your profile</button>
    </div> 
    <br>
    <div id="userCredentials"></div>


    <form>
      <input type="text" id="updateUserName" placeholder ="updateUserName">
      <input type="text" id="updatePassword" placeholder ="updatePassword">
      <button id="updateSubmit">Update profile</button>
    </form>   
    <br> 
    <form id="delete">
      <input value="Delete profile" type="submit" />
    </form>
    <form id="logoutUser">
      <input value="Logout" type="submit" />
    </form>
    <br>
    <script src="opretVarer.js"></script>
    <form id="form">
      <input placeholder="Varekategori" id="varekategori" />
      <input placeholder="Produkt" id="produkt" />
      <input placeholder="Pris" id="pris" />
      <input value="Opret en vare" type="submit" />
    </form>
    
   
 </body>
</html>


